<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
     
               class="cn.com.wei.core.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="cn.com.wei.core.Perspective"
            id="wei.HLSupermarket.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="cn.com.wei.view.Cashier"
            icon="src/img/CashierMini.png"
            id="cn.com.wei.view.Cashier"
            name="收银台">
      </view>
      <view
            class="cn.com.wei.view.Manager"
            icon="src/img/managerMini.png"
            id="cn.com.wei.view.Manager"
            name="管理员">
      </view>
      <view
            class="cn.com.wei.view.Boss"
            id="cn.com.wei.view.Boss"
            name="经理">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="cn.com.wei.editor.Jiezhang"
            icon="src/img/22.png"
            id="cn.com.wei.editor.Jiezhang"
            name="结账">
      </editor>
      <editor
            class="cn.com.wei.editor.Tuihuo"
            icon="src/img/22.png"
            id="cn.com.wei.editor.Tuihuo"
            name="退货">
      </editor>
      <editor
            class="cn.com.wei.editor.Guadan"
            icon="src/img/22.png"
            id="cn.com.wei.editor.Guadan"
            name="挂单">
      </editor>
      <editor
            class="cn.com.wei.editor.Jinhuo"
            icon="src/img/22.png"
            id="cn.com.wei.editor.Jinhuo"
            name="进货管理">
      </editor>
      <editor
            class="cn.com.wei.editor.ShangpinXinxi"
            icon="bin/img/22.png"
            id="cn.com.wei.editor.ShangpinXinxi"
            name="商品信息">
      </editor>
      <editor
            class="cn.com.wei.editor.QueryJinhuo"
            icon="src/img/22.png"
            id="cn.com.wei.editor.QueryJinhuo"
            name="进货记录">
      </editor>
      <editor
            class="cn.com.wei.editor.QueryGonghuoshang"
            icon="src/img/22.png"
            id="cn.com.wei.editor.QueryGonghuoshang"
            name="供货商查询">
      </editor>
      <editor
            class="cn.com.wei.editor.QuerySaleBill"
            icon="src/img/22.png"
            id="cn.com.wei.editor.QuerySaleBill"
            name="销售查询">
      </editor>
      <editor
            class="cn.com.wei.editor.QueryReturns"
            icon="src/img/22.png"
            id="cn.com.wei.editor.QueryReturns"
            name="退货查询">
      </editor>
      <editor
            class="cn.com.wei.editor.QueryVip"
            icon="src/img/22.png"
            id="cn.com.wei.editor.QueryVip"
            name="会员信息">
      </editor>
      <editor
            class="cn.com.wei.editor.SetVip"
            icon="src/img/22.png"
            id="cn.com.wei.editor.SetVip"
            name="会员卡设置">
      </editor>
      <editor
            class="cn.com.wei.editor.Grounding"
            icon="src/img/22.png"
            id="cn.com.wei.editor.Grounding"
            name="上架信息">
      </editor>
      <editor
            class="cn.com.wei.editor.Sunhao"
            icon="src/img/22.png"
            id="cn.com.wei.editor.Sunhao"
            name="损耗">
      </editor>
      <editor
            class="cn.com.wei.editor.Employee"
            id="cn.com.wei.editor.Employee"
            name="员工信息">
      </editor>
      <editor
            class="cn.com.wei.editor.Tongji"
            id="cn.com.wei.editor.Tongji"
            name="营业统计">
      </editor>
      <editor
            class="cn.com.wei.editor.Welcome"
            id="cn.com.wei.editor.Welcome"
            name="Welcome">
      </editor>
   </extension>

</plugin>
